*{
    margin: 0;
    padding: 0;
    line-height: 2rem;
    font-family: '微软雅黑 light','微软雅黑',sans-serif;
}
html{
    font-size: 16px;
}
body{
    display: flex;
    justify-content: center;
    background-color: #fcfcfc;
}
section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 25rem rgba(0,0,0,0.05);
    padding: 2rem 0;
    padding-bottom: 10rem;
    background-color: #fcfcfc;
}
article{
    padding: 2rem 1rem;
    padding-bottom: 1rem;
}
div{
    display: table;
    counter-reset: list;
}
it{
    display: table-row;
    margin: 0.5rem 0;
}
it::before{
    counter-increment: list;
    content: counter(list);
    text-align: right;
    padding: 0 1rem;
    display: table-cell;
    font-family: Arial,Helvetica,monospace;
    color: #787878;
}
it>n,it>s,it>t{
    display: table-cell;
}
n{
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
}
s{
    padding-left: 2rem;
    text-align: right;
    text-decoration: unset;
}
s::after{
    content: ' km²'
}
t{
    padding-left: 1rem;
}
t>:nth-child(1n){
    line-height: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    display: inline-block;
    border-radius: 5rem;
    background-color: #acacac;
    color: #fcfcfc;
}
t>pg:nth-child(1n){
    background-color: #4fc08d;
}
pg::before{
    content: '过程生成';
}
t>ss:nth-child(1n){
    background-color: #00a2ff;
}
ss::before{
    content: '少量有缝';
}
